.bi{
    font-size: 32px;
    display: flex;
    fill: white;   
    margin: 10px;
}

#pic{
    width: 120px;
    height: auto;
    position: relative;
    margin-top: -60px;
    bottom: 15px;
    left: 10px;    
    z-index: 1;    
}

