<div class="row">
  <h3 class="mx-5 my-3">Hard & Soft Skills</h3>
  <div *ngFor="let skill of skills_list" class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="skill.percent"
      [radius]="80"
      [imageSrc]="skill.img"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [startFromZero]="true"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
</div>
