<div class="container border my-3">
  <h3 class="mx-5 section-title">Experiencia</h3>
  <div *ngFor="let experiencia of experiencia_list" class="row">
    <div class="col-2 my-3 mx-3 section-img">
      <a href="#">
        <img
          id="logoempresa"
          [src]="experiencia.img"
          alt="Logo Empresa"
          class="img-fluid img-thumbnail"
        />
      </a>
    </div>
    <div class="col-8 section-item">
      <h4>{{ experiencia.empresa }}</h4>
      <p>{{ experiencia.task }}</p>
      <p>
        <time>{{ experiencia.start }}</time> -
        <time>{{ experiencia.end }}</time>
      </p>
    </div>
  </div>
</div>
