<div class="container border section-border my-3">
  <div class="section-title">
    <h3 class="mx-5 my-4">Experiencia</h3>
    <button class="btn btn-plus mx-5"><i class="fa fa-plus"></i></button>
  </div>
  <div *ngFor="let experiencia of experiencia_list" class="row">
    <div class="col-2 my-3 mx-3 section-img">
      <a href="#">
        <img
          id="logoempresa"
          [src]="experiencia.img"
          alt="Logo Empresa"
          class="img-fluid img-thumbnail"
        />
      </a>
    </div>
    <div class="col-8">
      <div class="section-item">
        <h4>{{ experiencia.empresa }}</h4>
        <div class="btn-editar">
          <button class="btn"><i class="fa fa-pen"></i></button>
          <button class="btn"><i class="fa fa-trash"></i></button>
        </div>
      </div>
      <p>{{ experiencia.task }}</p>
      <p>
        <time>{{ experiencia.start }}</time> -
        <time>{{ experiencia.end }}</time>
      </p>
    </div>
  </div>
</div>
