<div class="container border my-3">
  <div>
    <div>
      <h3 class="mx-5 my-3 section-title">Proyectos Personales</h3>
    </div>
    <div class="card-group">
      <div *ngFor="let proyecto of proyectos_list" class="my-5 mx-2">
        <div class="card" style="width: 15rem">
          <a href="#">
            <img [src]="proyecto.img" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <h4 class="card-title">{{ proyecto.proyecto }}</h4>
            <p class="card-text">
              {{ proyecto.descripcion }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
